{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}Profile{% endblock %}
{% block content %}

    <div class="divider divider-lg"> </div>
    <div class="container">
        <div class="row margin-col-sm-top">
            <div class="col-md-2 col-sm-3 col-xs-12" >
                <section class="breadcrumbs prefer-tab">

                    <ul class="nav nav-tab">
                        <li class="active"><a data-name="my-info" data-toggle="tab" href="#my-info">My Info</a></li>
                        <li><a data-name="my-info" data-toggle="tab" href="#password">Password</a></li>
                    </ul>

                </section>
            </div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <section>
                    <div class="tab-content">
                        <!---step1!-->
                        <div id="my-info" class="tab-pane fade active in">
                            <div class="row">
                                <img class="img-responsive center-block" alt="" src="images/user-1.png">
                                <h6 class="center-text-align"><a class="a-popup-color">Change profile picture </a></h6>
                            </div>
                            <form class="form-horizontal margin-col-sm-top">
                                <div class="form-group">
                                    <label class="light control-label col-md-2 col-md-offset-2 col-sm-3">First Name</label>
                                    <div class="col-md-5 col-sm-8">
                                        <input type="text" class="form-control" name="customer[cFirstName]" placeholder="FIRST NAME" value="{{user.cFirstName}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="light control-label col-md-2 col-md-offset-2 col-sm-3">Last Name</label>
                                    <div class="col-md-5 col-sm-8">
                                        <input type="text" class="form-control" name="customer[cLastName]" placeholder="LAST NAME" value="{{user.cLastName}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="light control-label col-md-2 col-md-offset-2 col-sm-3">Email Address</label>
                                    <div class="col-md-5 col-sm-8">
                                        <input type="text" class="form-control" name="customer[cEmail]" placeholder="EMAIL ADDRESS" value="{{user.cEmail}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="light control-label col-md-2 col-md-offset-2 col-sm-3">Phone</label>
                                    <div class="col-md-5 col-sm-8">
                                        <input type="text" class="form-control" name="customer[cPhone]" placeholder="PHONE" value="{{user.cPhone}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="light control-label col-md-2 col-md-offset-2 col-sm-3">Zip Code</label>
                                    <div class="col-md-5 col-sm-8">
                                        <input type="text" class="form-control" name="customer[cZip]" placeholder="ZIP CODE" value="{{user.cZip}}">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-9 col-sm-11">
                                        <button type="submit" class="btn btn-cool btn-md-sm btn-bottom margin-col-sm-top pull-right">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!---End of step1!-->
                        <!---step2!-->

                        <div id="password" class="tab-pane fade">
                            <div class="subtitle">
                                <div>
                                    <span>Change Password</span>
                                </div>
                            </div>
                            <form class="form-horizontal margin-col-sm-top">
                                <div class="form-group">
                                    <label class="light control-label col-md-2 col-md-offset-2 col-sm-3">Old Password</label>
                                    <div class="col-md-5 col-sm-8">
                                        <input type="password" required="" placeholder="Old Password" id="old_password" class="form-control" name="old_password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="light control-label col-md-2 col-md-offset-2 col-sm-3">New Password</label>
                                    <div class="col-md-5 col-sm-8">
                                        <input type="password" required="" placeholder="New Password" id="new_password" class="form-control" name="new_password">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-9 col-sm-11">
                                        <button type="submit" class="btn btn-cool btn-md-sm btn-bottom margin-col-sm-top pull-right">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!---End of step2!-->
                        <div class="divider divider-lg">
                        </div><div class="divider divider-lg">
                        </div>
                        <div class="divider divider-sm">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}