{% extends 'base.html.twig' %}
{% block content %}

    <!--Page Content-->

    <!--Hero Section-->
    <section id="hero-banner">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">

                        <h2>A NEW WAY TO SHOP FOR FASHION</h2>
                        <p>Now you can save time, money and look amazing! Your personal stylist will help you get the best outfits that complement your lifestyle. FREE!</p>
                        <a class="btn btn-cool btn-bottom btn-lg" href="clothes-MorW.html">Get Started</a>

                    </div>
                </div>
            </div>
        </div>
    </section>    
    <!--/end Hero Section-->

    <!--How It Works Seaction--> 
    <section id="how it works">
        <div class="content grey-container">	
            <div class="divider divider-sm">
            </div>
            <div class="subtitle">
                <div>
                    <h1>How it works</h1>
                </div>
            </div>
        </div>
        <div class="container content" >
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 howitworks-text text-center">
                    <div class="number icon-outer">
                        <span class="icon icon-xxxl flaticon-welldone"></span>
                    </div>
                    <h5>Get STARTED</h5>
                    <p>Create your style profile to get to know you.</p>	
                </div>
                <div class="divider-md visible-xs">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive" src="{{asset('images/htw-image1.png')}}" alt="">
                </div>
            </div>
            <div class="divider-md">
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive" src="{{asset('images/hero.jpg')}}" alt="">
                </div>
                <div class="divider-md visible-xs">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 howitworks-text text-center">
                    <div class="number icon-outer">
                        <span class="icon icon-xxxl flaticon-profile8"></span>
                    </div>
                    <h5>GO SHOPPING</h5>
                    <p>
                        ClotheStudio will create the best outfits for your size, style and preferences.
                    </p>
                </div>
            </div>
            <div class="divider-md">
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 howitworks-text text-center">
                    <div class="number icon-outer">
                        <span class="icon icon-xxxl flaticon-welldone"></span>
                    </div>
                    <h5>CHECK IT OUT</h5>
                    <p>
                        Receive a lookbook with only what complement you. <br/>
                        Order what you love, leave a feedback!
                    </p>	
                </div>
                <div class="divider-md visible-xs">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img class="img-responsive" src="{{asset('images/hero.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- //End How It Works Seaction-->

    <!--Features Seaction-->
    <section class="content grey-container" id="features">
        <div class="content grey-container">
            <div class="container">
                <div class="subtitle">
                    <div>
                        <span>Features</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <div class="rect-noborder">
                        <div class="number icon-outer">
                            <span class="icon icon-xl flaticon-welldone"></span>
                        </div>

                        <h6><strong>Happy Customers</strong></h6>
                        <p>
                            Aliquam lectus. Morbi eget massa dapibus dui, urna et mi. Cras pellentesque. Fusce sed molestie molestie, enim urna vehicula magna, eu venenatis velit nunc eget justo.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <div class="rect-noborder">

                        <div class="number icon-outer">
                            <span class="icon flaticon-brief"></span>

                        </div>
                        <h6><strong>Amazing Works</strong></h6>
                        <p>
                            Aliquam lectus. Morbi eget massa dapibus dui, urna et mi. Cras pellentesque. Fusce sed molestie molestie, enim urna vehicula magna, eu venenatis velit nunc eget justo.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                    <div class="rect-noborder">

                        <div class="number icon-outer">
                            <span class="icon flaticon-group41"></span>

                        </div>
                        <h6><strong>Followers</strong></h6>
                        <p>
                            Aliquam lectus. Morbi eget massa dapibus dui, urna et mi. Cras pellentesque. Fusce sed molestie molestie, enim urna vehicula magna, eu venenatis velit nunc eget justo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //End Features Seaction-->  




    <!-- Brands -->
    <section class="container content brands-slider" id="brand">
        <div class="divider divider-lg"> </div>
        <div class="subtitle right-space">
            <div> <span>BRANDS</span> </div>
        </div>
        <div class="brands-carousel">
            <div class="slides">
                <div> <a href="#"><img src="{{asset('images/brand1.png')}}" alt=""></a> </div>
                <div> <a href="#"><img src="{{asset('images/brand2.png')}}" alt=""></a> </div>
                <div> <a href="#"><img src="{{asset('images/brand3.png')}}" alt=""></a> </div>
                <div> <a href="#"><img src="{{asset('images/brand4.png')}}" alt=""></a> </div>
                <div> <a href="#"><img src="{{asset('images/brand5.png')}}" alt=""></a> </div>
                <div> <a href="#"><img src="{{asset('images/brand6.png')}}" alt=""></a> </div>
                <div> <a href="#"><img src="{{asset('images/brand7.png')}}" alt=""></a> </div>
                <div> <a href="#"><img src="{{asset('images/brand8.png')}}" alt=""></a> </div>
            </div>
        </div>
    </section>
    <!-- //end Brands -->       

    <!-- Blog widget -->
    <section class="content grey-container" id="features">
        <div class="content grey-container">
            <div class="container">
                <div class="subtitle">
                    <div>
                        <span>From the Blog</span>
                    </div>
                </div>
                <div class="row text-center">
                    <a href="#" class="btn btn-cool btn-bottom btn-lg">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //end Blog widget -->

    <!-- Subscribe -->
    <section class="content container">
        <div class="subscribe">
            <div class="row collapsed-block">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h3>NEWSLETTER SIGNUP <a class="expander visible-sm visible-xs" href="#TabBlock-1">+</a></h3>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9 tabBlock" id="TabBlock-1">
                    <form class="form-inline" >
                        <div class="row">
                            <div class="col-sm-5 col-md-5">
                                <input type="text" class="form-control pull-right" value="Your E-mail..." onblur="if (this.value == '') {
                                            this.value = 'Your E-mail...';
                                        }" onfocus="if (this.value == 'Your E-mail...') {
                                                    this.value = '';
                                                }">
                                <div class="divider divider-sm visible-xs"> </div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <button type="submit" class="button btn-cool"><span class="icon flaticon-new78"></span>subscribe </button>
                                <div class="divider divider-sm visible-xs"> </div>
                            </div>
                            <div class="col-sm-5 col-md-4">
                                <p> Enter your email and we'll send you a coupon with 10% off your next order. </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- //end Subscribe --> 
{% endblock %}